node_modules/
typings/
_temp/
_results/
_build/

gulp-tsc-tmp-*
.gulp-tsc-tmp-*

[Tt]asks/**/*.js
[Tt]asks/**/*.js.map
[Tt]ests/**/*.js
[Tt]ests/**/*.js.map

.vscode
.taskkey

*.vsix
*.zip

.DS_Store